<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">xianjue_tech</property>
  <property name="hibernate.connection.url">jdbc:mysql://23.245.26.148:3306/jidacom_xianjue</property>
  <property name="hibernate.connection.username">jidacom_xianjue</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.pool_size">1</property>
  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">validate</property>
  <mapping class="cn.edu.nju.gqx.db.po.User"/>
  <mapping class="cn.edu.nju.gqx.db.po.Switch"/>
  <mapping class="cn.edu.nju.gqx.db.po.Gprs"/>
  <mapping class="cn.edu.nju.gqx.db.po.Zigbee"/>
  <mapping class="cn.edu.nju.gqx.db.po.Task"/>
  <mapping class="cn.edu.nju.gqx.db.po.Historydata"/>
  <mapping class="cn.edu.nju.gqx.db.po.Turntask"/>
  <mapping class="cn.edu.nju.gqx.db.po.Turngroup"/>
  <mapping class="cn.edu.nju.gqx.db.po.Pressure"/>
 </session-factory>
</hibernate-configuration>
